*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  .container1{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
  }
  .container2{
    max-width: 550px;
    height: 450px;
    width: 100%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    display: flex;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }

  h1 {
    color: #fbbc05;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .container2 h2{
    font-size: 32px;
    font-weight: 600;
    color: #333;
  }
  .container2 h2::before{
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #4070f4;
  }


  .full-width {
    width: 100%;
    margin-bottom: 5px;
  }
  
  .full-width mat-hint{
    
    font-size: 9.2px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  .submit{
    top: 851px;
    left: 949px;
    width: 300px;
    height: 53px;
    background:#4070f4;
    border: 1px solid #969696;
    border-radius: 5px;
    opacity: 1;
    margin-left: 70px;
    }